/**  Variables  **/
$game-font: 'VT323', monospace;


/***************************************************/
/**  Base styles for the game page  **/
.card-level-title {
  color: white;
  font-family: $game-font;
}
/***************************************************/


/***************************************************/
/* Base styles for game mode when 6 cards are showing */

.card-div-8 {
  width: 150px;
  height: 150px;
  background: black;
  background-size: contain;
  margin: 1rem;
}
/***************************************************/
