/**  Variables  **/
$game-font: 'VT323', monospace;


/***************************************************/
/**  Base styles for the game page  **/
.level-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.card-level-title {
  margin: 0;
  margin-left: -2rem;
  flex: 1;
  color: white;
  font-family: $game-font;
  text-align: center;
}

.heart-icon {
  width: 25px;
  height: 25px;
  margin: 0;
  background-image: url('heart.png');
}
/***************************************************/


/***************************************************/
/* Base styles for game mode when 6 cards are showing */

.card-div-8 {
  width: 150px;
  height: 150px;
  margin: 1rem;

  background: black;
  background-size: cover;
  border-radius: 20px 5px 20px 5px;
}
/***************************************************/
