$game-font: 'VT323', monospace;


.match-message-div {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 100;
  right: 90px;
  top: 70px;
  font-family: $game-font;
  font-size: 30px;
  color: white;
}

.match-div-show {
  animation: matchdivshow 3s 0s ease-in;
}

@keyframes matchdivshow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
